html, 
body,
a, p, h1, h3 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.05rem;
    color: #ffffff;
}
body{
    margin: 0;
}
#head{ 
    background-size: cover;
    z-index: 1;
    background-position: center;
    padding: 35px 0;
    background-image: url('./images/repeat.jpg');
    background-repeat: no-repeat;
}
:focus{
    outline: none;
    opacity: 1;
}

#mainNav{
    z-index: 2;
}

.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
nav .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.masthead{
    position: relative;
}
.mask-cover{
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);;
}
a.active, a:hover, a:active{
    opacity: 1;
}
a.active, .nav-link:hover{
    opacity: 1;
    color: orange;
}

.nav-link{
    font-weight: 500;
    font-size: 14px;
    padding: 4px 6px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: -1px;
    position: relative;
    text-decoration: none;
}
a.logo img {
    width: 96px;
    height: 34px;
    object-fit: cover;
    cursor: pointer;
}
a.logo img:hover {
    opacity: 0.6;
}
.checkbtn{
    font-size: 30px;
    color: black;
    cursor: pointer;
    display: none;
}
.navbar-toggler{
    background: transparent;
    outline: none;
    border: none;
}
.navbar-toggler i{
    display: none;
    font-size: 32px;
    color: #ffffff;
    background: none;
}
.header-content{
    z-index: 2;
    position: relative;
}
.nav-menu ul{
    display: flex;
    list-style: none;
    align-items: center;
}
.nav-menu ul li {
    padding: 0.5rem 1rem;
}
.nav-menu ul li:hover {
    opacity: 1;
}
div#nav-menu {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    width: 80%;
}
button.donate{
    font-size: 14px;
    font-weight: bold;
     border: 2px solid #B9220A ;
     background: #B9220A;
     color: #ffffff;
     border-radius: 4px;
     min-height: 52px;
     padding: 16px 50px;
     transition: ease 0.2s;
     cursor: pointer;
 }
 button.donate:hover{
     background: transparent;
     border: 2px solid #ffffff;
     color: #ffffff;
 }
 .container.intro{
     display: flex;
     flex: 1;
     justify-content: center;
     min-height: calc(100vh - 150px);
     align-items: center;
 }    
 
 .intro-text h1{
     font-size: 48px;
 }
 .intro-text p{
     font-size: 18px;
     width: 50%;
     letter-spacing: 0.5px;
 }
 
 button.more{
     background: transparent;
     border: 2px solid #ffffff;
     cursor: pointer;
     min-height: 52px;
     transition: ease 0.2s;
     padding: 16px 28px;
     color: #ffffff;
     border-radius: 4px;
     margin-left: 16px;
     margin-top: 44px;
     font-size: 14px;
     font-weight: bold;
 }
 button.more:hover{
     border: 2px solid #B9220A;
     background: #B9220A;
     color: #ffffff;
 }
 .header-content .row{
     display: grid;
     grid-template-columns: 20% 20% 20% 20% 20%;
     width: 100%;
 }
 .header-content .row .col-5{
     width: 100%;
     text-align: center;
     padding-bottom: 54px;
 }
 .our-children{
     background: url('./images/tetbirt.jpg') no-repeat;
     background-size: cover;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     padding-left: 100px;
     position: relative;
 }
 .scholarships{
     background: url('./images/zach.jpg') no-repeat;
     background-size: cover;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;    
     padding-left: 100px;
     position: relative;
 }
 #banner-item h2{
     font-size: 28px;
 }
 #banner-item p {
     font-size: 14px;
     letter-spacing: 0.5px;
     width: 80%;
     overflow: hidden;
     height: 38px;
     line-height: 20px;
 }
 .content-item{
     z-index: 2;
 }
 
 #banner-item .row{
     display: grid;
     grid-template-columns: 50% 50%;
     min-height: 50vh;
     align-items: center;
     justify-content: center;
 }
 .our-children button{
     border: none;
     background: #E4C70A;
     font-size: 14px;
     font-weight: bold;
     color: #000000;
     transition: ease-in-out 0.2s;
     cursor: pointer;
     padding: 12px 36px;
     height: 42px;
     border-radius: 4px;
     margin-top: 34px;
 }
 .our-children button:hover{
     color: #ffffff;
 }
 .scholarships button{
     border: none;
     background: #ffffff;
     font-size: 14px;
     font-weight: bold;
     color: #000000;
     transition: ease-in-out 0.2s;
     cursor: pointer;
     padding: 12px 36px;
     height: 42px;
     border-radius: 4px;
     margin-top: 34px;
 }
 .scholarships button:hover{
     background: grey;
     color: #ffffff;
 }
 
 .parent{
     display: grid;
     grid-template-columns: 50% 50%;
     min-height: 50vh;
     
 }
 /* Style menu-mobile */
 .menu-icon .navicon {
     background: #333;
     display: none;
     height: 2px;
     position: relative;
     transition: background .2s ease-out;
     width: 18px;
   }
 
 .menu-icon .navicon:before,
 .menu-icon .navicon:after {
   background: #333;
   content: '';
   display: block;
   height: 100%;
   position: absolute;
   transition: all .2s ease-out;
   width: 100%;
 }
 .menu-icon .navicon:before {
     top: 5px;
 }
   
 .menu-icon .navicon:after {
     top: -5px;
   }
 /* MENU BTN */
 .menu-btn{
     display: none;
 }
 .menu-icon .navicon {
     display: block;
 }
 .menu-icon{
     display: none;
     cursor: pointer;
     display: none;
     float: right;
     color: #ffffff;
     padding: 28px 20px;
     position: relative;
     user-select: none;
     z-index: 2888888;
 }
 div#nav-menu{
     display: flex;
 }
 
 @media (max-width: 575.98px) { 
     
     #header{
         padding: 40px 24px;
     }
     
     #mainNav .donate{
         display: none;
     }
     .navbar-toggler i{
         display: block;
     }
     .intro-text {
         text-align: center;
     }
     .intro-text h1 {
         font-size: 22px;
     }
     .intro-text p {
         font-size: 14px;
         line-height: 20px;
         width: 100%;
     }
     .intro-text .donate{
         margin-top: 44px;
     }
     .container{
         padding-right: 0;
         padding-left: 0;
       
     }
     .content-item.container{
         margin: 44px auto;
     }
     .header-content .row{
         grid-template-columns: 33% 33% 33%;
         height: 120px;
         overflow: hidden;
         font-size: 14px;
     }
     .masthead .container .row .col-5 div {
         font-size: 12px;
     }
     button.more{
         margin-left: 0;
         padding: 16px 60px;
     }
     .container.intro{
         min-height: calc(100vh - 260px);
     }
     .parent{
         display: block;
         text-align: center;
     }
     #banner-item h2 {
         font-size: 18px;
     }
     .our-children, .scholarships {
         padding-left: 0;
     }
     #banner-item p{
         width: 80%;
         margin: 0 auto;
     }
     .checkbtn{
         display: block;
     }
     .checkbtn i{
         font-size: 24px;
     }
     /* #check:checked ~ div#nav-menu{
         left: 0;
       } */
     div#nav-menu{
         position: absolute;
         width: 90%;
         height: 100vh;
         text-align: left;
         transition: all .5s;
         top: -40px;
         right: -24px;
         bottom: 0;
         display: none;
         z-index: 100;
         background-color: #B9220A;
     }
     .menu-icon{
         display: block;
     }
     .nav{
         display: none;
     }
     .nav-menu ul {
         display: block;
         line-height: 50px;
         padding-top: 80px;
     }
     #mainNav button.donate{
       background: #fff;
       color: #B9220A;
       display: block;
       width: 80%;
       margin: 0 auto;
       font-size: 12px;
     }
     .nav-menu ul li {
         padding: 0.5rem 0;
     }
 
  }
 
  .menu-btn:checked ~ div#nav-menu {
     display: block;
 }
 .menu-btn:checked ~ .menu-icon .navicon {
     background: transparent;
   }
   .menu-btn:checked ~ .menu-icon .navicon:before {
     transform: rotate(-45deg);
   }
   .menu-btn:checked ~ .menu-icon .navicon:after {
     transform: rotate(45deg);
   }
   .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
   .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
     top: 0;
   }
 
 @media (min-width: 576px) {
     /* .header .menu-icon {
         display: none;
       } */
     .container {
       max-width: 540px;
     }
    
 }
   @media (min-width: 768px) {
     .container {
       max-width: 720px;
     }
   }
   @media (min-width: 992px) {
     .container {
       max-width: 960px;
     }
   }
   @media (min-width: 1200px) {
     .container {
       max-width: 1140px;
     }
   }